
.navbar {
    border-radius: 0;
    margin-bottom: 50px;
    }

.jumbotron {
    margin-bottom: 50px;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
    }

#jtron{
    margin-bottom:0px;
}

.usernote {
    color: white;
    margin-top: 8%;
    font-size: 12px;
}

.center{
    width: 50%;
    margin-right:25%;
    margin-left:25%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
